extends layout



block navbar
  .navbar.navbar-inverse.navbar-fixed-top.ng-cloak(
    ng-hide='(location=="login" || location=="forgotpass" || location=="register")',
    bs-navbar='bs-navbar')
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse',
                          data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#core') {{config.profile.title}}
        .nav-collapse.collapse
          ul.nav.pull-right(ng-hide='browser.mobile')
            li
              a(href='#credits')
                i.icon-question-sign.icon-white
                |  Credits: 10 EUR
            li.dropdown
              a.dropdown-toggle(href='#',
                                data-toggle='dropdown')
                i.icon-user.icon-white
                |  {{app.resources.name}}
                b.caret
              ul.dropdown-menu
                li
                  a(data-toggle='modal',
                    href='#modal-profile')
                    i.icon-user
                    |  Account Details
                li
                  a(data-toggle='modal',
                    href='#modal-settings')
                    i.icon-wrench
                    |  Account Settings
                li.divider
                li
                  a(href='#logout')
                    i.icon-off
                    |  Sign out
          ul.nav.pull-right(ng-show='browser.mobile')
            li
              a(data-toggle='modal',
                href='#modal-profile')
                i.icon-user.icon-white(ng-hide='browser.portrait || browser.screen.width < 768')
                span(ng-show='browser.portrait || browser.screen.width < 768') Account Details
            li
              a(data-toggle='modal',
                href='#modal-settings')
                i.icon-user.icon-white(ng-hide='browser.portrait || browser.screen.width < 768')
                span(ng-show='browser.portrait || browser.screen.width < 768') Account Settings
            li
              a(href='#logout')
                i.icon-off.icon-white(ng-hide='browser.portrait || browser.screen.width < 768')
                span(ng-show='browser.portrait || browser.screen.width < 768') Sign out



block modal-profile

  #modal-profile.modal.hide.fade(
    ng-controller='profile',
    tabindex='-1',
    role='dialog',
    aria-labelledby='modal-profile-label',
    aria-hidden='true',
    style='display: hide;')

    .modal-header
      button.close(type='button',
                    data-dismiss='modal',
                    aria-hidden='true') ×
      h3#modal-profile-label Account Details

    .modal-body(ng-show='profileEdit',
                ng-hide='!profileEditing')

      .alert(ng-show='profileEdited.status',
              class="alert-{{(profileEdited.result) && 'success' || 'error'}}",
              ng-init="profileEdit=false")
        button.close(type='button',
                      ng-click='profileEdited.status = false',
                      data-dismiss='alert') ×
        span(ng-show='profileEdited.result') Account details are changed successfully.
        span(ng-hide='profileEdited.result') There was an error with changing account details.

      form.form-vertical(ng-submit='profile.edit()')

        p.muted
          small
            i Fields with * are compulsory to fill it in.

        .control-group
          label.control-label(for='name') Name *
          .controls
            input#name.span5(type='text',
                        ng-model='profile.data.name',
                        ng-change='profile.validate()',
                        required)
            p.text-error(ng-show='!profile.data.name')
              small
                i Please fill your name

        .control-group
          label.control-label(for='email') Email *
          .controls
            input#email.span5(type='text',
                        ng-model='profile.data.email',
                        ng-change='profile.validate()',
                        required)
            p.text-error(ng-show='!profile.data.email')
              small
                i Please fill your address

        .control-group
          label.control-label(for='address') Address
          .controls
            input#address.span5(type='text',
                          ng-model='profile.data.address')

        .control-group
          label.control-label(for='phone') Phone *
          .controls
            input#phone.span3(type='text',
                        ng-model='profile.data.phone',
                        ng-change='profile.validate()',
                        required)
            p.text-error(ng-show='!profile.data.phone')
              small
                i Please fill your phone

    .modal-footer(ng-show='profileEdit',
                  ng-hide='!profileEditing')
      button#modal-profile-btn-close.btn(ng-click='profileEdit=false') Cancel
      button#modal-profile-btn-save.btn.btn-primary(ng-click='profile.edit();') Save


    .modal-body(ng-hide='profileEdit',
                ng-show='!profileEditing')
      dl
        dt Oneline Number:
          dd {{data.account.purchasedNumber}}
        dt Name:
          dd {{data.account.name}}
        dt Email:
          dd {{data.account.email}}
        dt Address:
          dd {{data.account.address}}
        dt Phone:
          dd {{data.account.phone}}

    .modal-footer(ng-hide='profileEdit',
                  ng-show='!profileEditing')

      button#modal-profile-btn-edit.btn.btn-primary(ng-click='profileEdit=!profileEdit; profileEdited.status = false') Edit



block modal-settings
  #modal-settings.modal.hide.fade(tabindex='-1',
                                  role='dialog',
                                  aria-labelledby='modal-settings-label',
                                  aria-hidden='true',
                                  style='display: none;')
    .modal-header
      button.close(type='button',
                   data-dismiss='modal',
                   aria-hidden='true') ×
      h3#modal-settings-label Account Settings
    .modal-body
      p
        | Some account settings.
    .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-primary Save



block notification
  #notification.alert.ng-cloak(ng-show='notification.status')
    button.close(
      type='button',
      ng-click='notification.status = false'
    ) ×
    | {{notification.message}}



block mobile-status-bar
  #mobile-status-bar.ng-cloak(ng-show='loading.status && browser.mobile')
    img(src='images/ajax-loader.gif')
    small {{loading.message}}



block footer
  #footer.ng-cloak(ng-hide='browser.mobile || (location=="login" || location=="forgotpass" || location=="register")')
    .container-fluid
      #copyrights
        img(ng-src='images/ask_fast_logo.png',
            style='margin-top: 5px;')
      p.muted(ng-show='loading.status')
        img(src='images/ajax-loader.gif')
        small
          span(ng-show='app.preloader.status') {{app.preloader.count}}%
          | {{loading.message}}



block iestuff
  //if lt IE 7
    p.chromeframe
      | You are using an outdated browser.
      a(href='http://browsehappy.com/') Upgrade your browser today
      | or
      a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
      | to better experience this site.
  //if lt IE 9
    script(src='vendors/es5-shim/es5-shim.js')
    script(src='vendors/json3/lib/json3.min.js')